@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');

/* @namespace url(../AgradecimientosIndex.js);
@namespace 'AgradecimientosIndex'; */

* {
  max-width: 100%;
  height: auto;
  background-image: url(../../images/fondo.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.forest {
  width: 680px;
  height: auto;
  margin-top: -550px;
  float: right;
  opacity: 0.9;
}

.marco-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 260px;
  margin-left: 90px;
  color: rgb(0, 0, 0);
  z-index: 1000;
  text-shadow: 3px 4px 4px #ce5937;
}

.text h1 {
  font-family: 'Josefin Sans', sans-serif;
}

.text h3 {
  font-family: 'Libre Baskerville', serif;
}

.btn-blue {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  color: rgb(17, 17, 17);
  background-color: #0d6efd;
  border-color: #0d6efd;
  z-index: 10000000000000;
  box-shadow: 3px 4px 2.5px 2px rgba(0, 0, 0, 0.76);
}
.btn-blue:hover {
  color: #fff;
  background-color: #0b5ed7;
  border-color: #0a58ca;
}

@media (max-width: 1300px) {
  .forest {
    width: 560px;
    height: auto;
    margin-top: -500px;
    margin-right: 15px;
    float: right;
    opacity: 0.8;
  }
}

@media (max-width: 1200px) and (min-width: 640px) {
  .forest {
    width: 350px;
    height: auto;
    margin-top: -540px;
    margin-right: 50px;
    float: right;
    opacity: 0.8;
  }
}

@media (max-width: 640px) and (min-width: 550px) {
  .forest {
    width: 300px;
    height: auto;
    margin-top: -570px;
    margin-right: 50px;
    float: right;
    opacity: 0.8;
  }
}

@media (max-width: 550px) {
  .forest {
    width: 175px;
    height: auto;
    margin-top: -450px;
    float: right;
    opacity: 0.5;
  }

  .marco-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 160px;
    margin-left: 40px;
    color: rgb(0, 0, 0);
    z-index: 1000;
    text-shadow: 3px 4px 4px #ce5937;
  }
}
