.containerTotal {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;

  /* display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap; */
}

.containerTotal > .containerIndividual {
  width: 30vw;
  margin-top: 5px;
  text-align: center;

  /* display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  display: grid !important;
  grid-template-columns: 28% 28% 28% !important;
  grid-template-rows: auto !important;
  justify-self: center !important; */
}

#main-container {
  text-align: center;
}

.inputFiltrador {
  padding: 6px;
  margin: 5px;
  width: 350px;
  height: 20px;
  border-radius: 4px;
  border-color: rgba(0, 0, 255, 0.411);
}

.inputFiltrador:hover {
  border-color: rgba(101, 101, 255, 0.7);
  border-width: 2.3px;
}
