@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&display=swap');

.Marco {
  /* background-color: initial; */
  background-color: rgba(197, 46, 46, 0.8);
  border-radius: 10%;
  max-width: 33vw;
  width: 100%;
  height: auto;
}

.Agradecimientos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: auto;
  line-height: 2em;
  padding: 20px;
  border-radius: 20%;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.1vw;
  max-width: 32vw;
  height: auto;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-color: initial;
}

ul {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
  margin-left: -20px;
  list-style-type: none;
  background-color: initial;
}

li {
  margin: 3px;
  background-color: initial;
  line-height: 26px;
}

h2 {
  text-align: left !important;
  font-size: 20px;
  margin-bottom: 0px;
  font-family: 'Libre Baskerville', serif;
}

em {
  background-color: initial;
}

@media (max-width: 790px) {
  .Marco {
    margin: 0px;
    width: auto;
  }

  .Agradecimientos {
    margin: 0px;
    max-width: auto;
    height: auto;
  }
}
