img {
  width: 50px;
}

.fluid {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
  background-color: rgb(148 161 181);
}

.Navbar {
  width: 100%;
  padding: 0.2rem 0;
  background-color: rgb(148 161 181);
  z-index: 100000;
}

.Navbar__brand {
  border-radius: 30%;
  background-color: rgb(148 161 181);
  color: #000000;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.Navbar__brand-logo {
  background-color: rgb(148 161 181);
  margin-right: 0.5rem;
  border-radius: 20%;
}

span {
  background-color: rgb(148 161 181);
  border-radius: 20%;
}

strong {
  background-color: rgb(148 161 181);
  border-radius: 20%;
}
